@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
body{
    margin:0px;
    overflow: hidden;
    font-family: "Rubik", serif;
     font-optical-sizing: auto;
    font-weight: 300;
     font-style: normal;
    background-color: rgb(247, 224, 193);
}
canvas{
    display: block;
}
#ui {
    position: absolute;
    top: 10px;
    left: 10px;
    background: rgba(113, 163, 255, 0.9);
    padding: 10px;
    border-radius: 8px;
  }

  #file-input { position: absolute; top: 10px; left: 10px; z-index: 1000; }