@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');
body {
    margin: 0px;
    overflow: hidden;
    font-family: "Rubik", serif;
    font-weight: 300;
    background: linear-gradient(-45deg, hsl(189, 58%, 22%), #251e81, #f5e266, #36c6ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

canvas {
    display: block;
    width: 70%;
    height: 100%;
}

#ui {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border: 3px solid #a0ecff;
    border-radius: 8px;
    z-index: 1000;
}

#ui input[type="file"],
#ui button {
    display: block;
    margin-top: 10px;
    padding: 5px;
}

#ui button {
    background: #7db7f9;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

#ui button:hover {
    background: #0056b3;
}

#property-window {
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(89, 248, 227, 0.9);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}

#property-window h3 {
    margin-top: 0;
    font-size: 16px;
}

#property-window p {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}
#timeline-window{
    position: absolute;
    top: 10px;
    right: 10px;
    background: rgba(89, 248, 227, 0.9);
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 1000;
    display: none;
}